body {
    background-color: #aaeffc;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

#pageContent{
  height: calc(100vh - 80px);
  overflow-y: auto;
  padding: 20px;
}

.adminTitle , .sidebar{
    border: 0px !important;
    background-color: #343a40;
    color: white;
}

.adminTitle {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
    width: 100%;
}

.adminTitle h4 {
    padding: 20px;
    font-size: 40px;
    margin-bottom: 0px !important;
}

.sidebar {
    padding: 0px !important;
    margin: 0px !important;
}

.sidebar .navigation {
    height: calc(100vh - 80px); /* header yüksekliği */
    background-color: #343a40;
    display: flex;
  flex-direction: column;
}

.sidebar .navigation a{
    color: #adb5bd;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
}

.sidebar .navigation a:hover {
    background-color: #495057;
    color: #fff;
}

.sidebar .navigation a.active {
  background-color: #0d6efd;
  color: #fff;
  font-weight: 600;
}

.sidebar .navigation a.active i {
  color: #fff;
}
#pageContent {
    min-height: calc(100vh - 80px);
}

i{
    margin-right: 10px;
}
.icon{
    width: 20px;
    height: 20px;
    color: white !important;
}

.backHome{
    margin-top: auto;
    margin-bottom: 20px;
}

/* Title animasyonu */

.wave-text span {
  display: inline-block;
  color: #aefaff;
  animation:
    wave 2.4s ease-in-out infinite,
    glow 2.4s ease-in-out infinite,
    colorWave 2.4s ease-in-out infinite;
}

/* Renk */
@keyframes colorWave {
  0% { color: #adb5bd; }
  50% { color: #0d1dfd; }
  100% { color: #adb5bd; }
}

/* GLOW */
@keyframes glow {
  0%, 100% {
    text-shadow:
      0 0 4px rgba(13,110,253,0.4),
      0 0 8px rgba(13,110,253,0.4);
  }
  20% {
    text-shadow:
      0 0 20px rgba(13,110,253,0.8),
      0 0 40px rgba(13,110,253,0.9);
  }
}


@keyframes wave {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
