.head{
    width: 100%;
}
.addContentBtn{
    color: rgb(0, 89, 255);
    font-size: 40px;
    scale: 1;
    transition: all 0.8s ease, color 1s ease, scale 0.3s ease;
}
.addContentBtn:hover{
    scale: 1.2;
    color: rgb(85, 164, 255);
    transform:rotate(180deg);
}
.animate {
  animation: pop 0.3s ease;
}

@keyframes pop {
  0% { transform: scale(1); }
  50% { transform: scale(1.3); }
  100% { transform: scale(1); }
}
