body{
    overflow-y: auto !important;
}

#gamesList{
    margin-top: 50px;
      display: flex;        /* Yan yana dizmek için */
  flex-wrap: wrap;      /* Sığmazsa alt satıra geçsin */
  gap: 10px;            /* Aralarındaki boşluk */
  list-style: none;     /* Noktaları kaldırmak için */
  padding: 0;
  margin: 0;
}
#gamesList li{
    flex: 0 0 calc(33.33% - 10px); /* Her satırda 3 tane (100/3≈33.33%) */
  text-align: center;
  padding: 20px 0;
  box-sizing: border-box;
}