:root {
  --myth-card-height: 450px;
  --myth-card-width: calc(var(--myth-card-height) / 1.5);
}

* {
  box-sizing: border-box;
}

.myth-card {
  width: var(--myth-card-width);
  height: var(--myth-card-height);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 36px;
  perspective: 2500px;
  margin: 0 50px;
}

.myth-cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.myth-wrapper {
  transition: all 0.5s;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.myth-card:hover .myth-wrapper {
  transform: perspective(900px) translateY(-5%) rotateX(25deg);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}

.myth-wrapper::before,
.myth-wrapper::after {
  content: "";
  opacity: 0;
  width: 100%;
  height: 80px;
  transition: all 0.5s;
  position: absolute;
  left: 0;
}

.myth-wrapper::before {
  top: 0;
  height: 100%;
  background-image: linear-gradient(
    to top,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}

.myth-wrapper::after {
  bottom: 0;
  opacity: 1;
  background-image: linear-gradient(
    to bottom,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}

.myth-card:hover .myth-wrapper::before,
.myth-card:hover .myth-wrapper::after {
  opacity: 1;
}

.myth-card:hover .myth-wrapper::after {
  height: 120px;
}

.myth-title {
  width: 100%;
  transition: transform 0.5s;
}

.myth-card:hover .myth-title {
  transform: translate3d(0%, -50px, 100px);
}

.myth-character {
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  z-index: -1;
}

.myth-card:hover .myth-character {
  opacity: 1;
  transform: translate3d(0%, -30%, 100px);
}
