<div id="loading-screen" class="active">
    <img src="/assets/images/red-heart.png" class="side-img left">
    <img src="/assets/images/red-heart.png" class="side-img right">

    <div class="bodyy">
        <div class="bdf"></div>

        <div class="bds">
            <div class="bdsimg" onclick="showImages()">
                <img class="mertbirresim" src="/assets/images/mertbirresim.png">
            </div>
            <div class="bdstxt">
                <div id="body-animate-text"></div>
            </div>
        </div>

        <div></div>
    </div>
</div>
