body {
    overflow: hidden;
    margin: 0 !important;
}

.up-header {
    width: 10%;
    height: 0 !important;
}

.game-area {
    width: 100%;
    height: 100%;
    position: relative;
}

#canvas {
    width: 100%;
    height: 100%;
    display: block;
    image-rendering: pixelated;
    z-index: 1;
}

#mobile-controls {
    position: fixed;
    z-index: 10;
}


#mobile-controls {
    position: fixed;
    bottom: 20px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    pointer-events: none;
    /* sadece butonlar tıklansın */
}
#mobile-controls button {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  font-size: 28px;
  border: none;
  background: rgba(0,0,0,0.6);
  color: white;
  
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
  -webkit-touch-callout: none;
  touch-action: none;
  
  outline: none;
}


#rotate-warning {
    position: fixed;
    inset: 0;
    background: #000;
    color: white;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    z-index: 999;
    text-align: center;
}